#about {
  padding: 30px 5% 0px 7%;
}

.snap {
  height: 200px;
}

.snap img {
  max-width: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.button {
  width: 160px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  #about {
    padding: 45px 0 0;
  }
}

@media screen and (min-width: 992px) {
  .snap {
    height: 100%;
  }

  .profile {
    padding-left: 5%;
  }
}