#about {
  padding: 30px 5% 0px 7%;
}

.snap {
  height: 200px;
}

.snap img {
  max-width: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.button {
  width: 160px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
}

.button:hover {
  background-color: rgb(24, 24, 24);
  color: #c0d7f4;
  transition: 0.5s;
}

.primary {
  background-color: rgba(0, 0, 0, 0.7);
}

.secondary {
  background-color: transparent;
  outline: 3px solid rgba(0, 0, 0, 0.5);
  outline-offset: -2px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  #about {
    padding: 45px 0 0;
  }
}

@media screen and (min-width: 992px) {
  .snap {
    height: 100%;
  }

  .profile {
    padding-left: 5%;
  }
}