.nav-default {
    padding: 22px 5% 22px 7%;
}

.nav-default button {
    border: none;
    background: none;
    width: fit-content;
}

.nav-default span {
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.nav-active {
    transition: 0.5s;
}

.nav-default.nav-active span {
    color: #c0d7f4;
}

.lang-toggle {
    margin-top: 3px;
    gap: 1px;
}