#skills {
    padding: 90px 5% 0 7%;
    text-align: center;
}

#skills h3 {
    color: rgb(169, 215, 255);
    font-size: 20px;
}

.icon {
    display: none;
}

@media screen and (min-width:576px) {
    #skills h3 {
        font-size: 25px;
    }

    .icon {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    #skills {
        padding: 120px 0 0;
    }
}