@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 18px;
}

.wrapper {
  background-image: linear-gradient(to top,
      #e0f2fe,
      #bae6fd,
      #7dd3fc);
  background-size: 200% 200%;
  animation: backgroundChange 25s linear infinite;
}

.main-container {
  padding-top: 80px;
}

.main-active {
  transform: translateY(300px);
  transition: 0.5s;
}

.button {
  width: 160px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
}

.button:hover {
  background-color: rgb(24, 24, 24);
  color: #c0d7f4;
  transition: 0.5s;
}

.primary {
  background-color: rgba(0, 0, 0, 0.7);
}

.secondary {
  background-color: transparent;
  outline: 3px solid rgba(0, 0, 0, 0.5);
  outline-offset: -2px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

@keyframes backgroundChange {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 576px) {
  p {
    font-size: 20px;
  }

  .section-description {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .section-description {
    width: 50%;
  }
}